body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center; /* Center the text */
}

header {
    background-color: #FFD700; /* Change the header color to yellow */
    color: white;
    padding: 20px 0;
}

header h1, header p {
    margin: 0;
}

footer {
    background-color: #808080; /* Change the footer color to grey */
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    animation: slideIn 1s ease;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

table thead {
    background-color: #008080; /* Change the table header color to teal */
    color: white;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tr {
    transition: background-color 0.3s ease;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

table a {
    color: #008080; /* Change the link color to teal */
    text-decoration: none;
}

table a:hover {
    color: #005757; /* Darken the link color on hover */
    text-decoration: underline;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
